profiles {

        GPU {
                process.executor = 'local'
                executor.queueSize = 2
        }

        nodes {

                process.executor = 'local'
                executor.queueSize = 20
        }
        GPU_thal {
        	process.executor = 'sge'
        	executor.queueSize = 2
        	executor.queue = "cuda.q"
        }
}